/* Секрия  about_us */

.about {
  margin-top: 150px;
  padding-left: 3px;
}

.about__title {
  color: #121212;
}
.about__text {
  margin-top: 30px;
  font-size: 45px;
  line-height: 61px;
  color: #121212;
  max-width: 1051px;
}
.about__btn {
  margin-top: 25px;
}
.about__btn {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  line-height: 27px;
  border: 1px solid #AD1818;
  border-radius: 5px;
  padding: 20px 40px;
  background-color: #AD1818;
  color: #FFFFFF;
  transition: 1s;
}
.about__btn:hover {
  border: 1px solid #AD1818;
  background-color: #FFFFFF;
  color: #AD1818;
  transition: 1s;
}

@media (max-width: 1199px) {
  .about {
    margin-top: 116px;
  }

  .about__title {

  }

  .about__text {
    width: 690px;
    max-width: 100%;
    font-size: 35px;
    line-height: 48px;
    margin-left: 2px;
  }
  .about__btn {
    margin-top: 30px;
  }
}

@media (max-width: 500px) {

  .about {
    margin-top: 80px;
  }

  .about__title {
    font-size: 14px;
    line-height: 19px;
  }

  .about__text {
    margin-top: 20px;
    font-size: 22px;
    line-height: 30px;
    width: 345px;
    
  }

  .about__btn {
    font-size: 16px;
    line-height: 22px;
    padding: 14px 28px;
  }
  .container-inline{
    padding-left: 8px;
    padding-right: 8px;
  }
  .about__btn {
    margin-top: 30px;
  }

  .about > .container-inline {
    padding-left: 8px;
    padding-right: 8px;
  }
}