.body_fixe {
  overflow: hidden;
}


.burger-btn {
  display: none;
  border: none;
  background-color: #FFFFFF;
}

.burger {
  position: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
  display: flex;
  justify-content: end;
  overflow-y: auto;
}

.burger_open {
  opacity: 1;
  visibility: visible;
  z-index: 100;
}

.burger__content {
  width: 57%;
  max-width: 250px;
  height: 100%;
  background-color: #FFFFFF;
  padding: 30px;
  padding-top: 100px;
  transition: transform 0.3s linear;
  transform: translateX(100%);
}

.burger_open > .burger__content {
  transform: translateX(0);
  transition: transform 0.5s linear;
}




.burger__logo {
  width: 156px;
  
}

.burger {
  display: none;
}

.burger__Ñontact {
  margin-top: 94px;
}

.burger__content h4 {
  font-size: 16px;
  letter-spacing: -0.48px;
  opacity: 0.5;
}

.burger__content a {
  color: #121212;
  font-size: 25px;
  line-height: 34px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}

.burger__phone {
  margin-top: 10px;
}


.burger__phone a {
  color: #121212;
  font-size: 21px;
  line-height: 34px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}




.burger__mail a{
  color: #121212;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: -0.6px;
}



@media (max-width: 800px) {
  .container-inline {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header__nav > nav {
    display: none;
  }


  .burger-btn {
    position: absolute;
    right: 40px;
    top: -15px;
    z-index: 100;
    display: block;
    width: 50px;
    height: 50px;
    border-bottom: 3px solid #000;
  }

  .burger-btn::after {
    content: "";
    position: absolute;
    right: 0px;
    bottom: -10px;
    z-index: 100;
    display: block;
    width: 40px;
    height: 50px;
    border-bottom: 3px solid #000;

  }
  .burger-btn_open {
    position: absolute;
    top: 9px;
    right: 20px;
    width: 34px;
    height: 34px;
    z-index: 150;
    transform: rotate(45deg);
  }
  .burger-btn_open::after {
    width: 34px;
    height: 33px;
    top: 15px;
    left: -16px;
    transform: rotate(-90deg);
  }


  .burger {
  position: fixed;
  display: flex;
  }


  .burger__nav {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 18px 0px;

  }
  .burger__item {
    display: block;
    
    text-decoration: none;
    font-size: 25px;
    letter-spacing: -0.75px;
    text-transform: uppercase;
    color: #000;
  }



  .burger__phone a, .burger__mail a {
    text-decoration: none;
  }


  
}

@media (max-width: 375px) { 
  .burger-btn {
    right: 40px;
    top: 5px;
    width: 30px;
    height: 30px;
  }

  .burger-btn::after {
    right: 0px;
    bottom: -10px;

    width: 20px;
    height: 30px;

  }
  .burger-btn_open {

    top: 22px;
    right: 20px;
    width: 20px;
    height: 20px;


  }
  .burger-btn_open::after {
    width: 20px;
    height: 19px;
    top: 8px;
    left: -10px;
  }
}